/*! modern-normalize v0.6.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
Add the correct height in Firefox.
*/
hr {
  height: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Correct the padding in Firefox.
*/
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  font-family: "Roboto", sans-serif;
  color: #757575;
  font-size: 14px;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.sub-heading {
  margin-bottom: 50px;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.footer-join__list, .footer-address__list, .clients__list, .team__list, .works__list, .advantages__list, .contacts-list, .header-nav__list, .social-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.clients, .team, .works, .advantages {
  padding-top: 94px;
  padding-bottom: 94px;
}

.page-footer__container, .clients__container, .team__container, .works__container, .advantages__container, .hero__container, .page-header__nav {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.contacts-list__link, .header-nav__link {
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-list__link:hover, .header-nav__link:hover, .contacts-list__link:focus, .header-nav__link:focus {
  color: #2196f3;
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  fill: #afb1b8;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover, .social-list__link:focus {
  background-color: #2196f3;
  fill: #fff;
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header__nav {
  display: flex;
  align-items: center;
}

.logo--header {
  padding: 24px 0;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav__list {
  display: flex;
  gap: 50px;
}

.header-nav__link {
  position: relative;
  display: block;
  padding: 32px 3px;
  color: #212121;
}

.header-nav__link--current {
  color: accent-color;
}
.header-nav__link--current::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.contacts-list {
  display: flex;
  gap: 30px;
  margin-left: auto;
}

.contacts-list__link {
  display: flex;
  align-items: center;
  padding: 32px 0;
  color: #757575;
}

.contacts-list__icon {
  margin-right: 10px;
  fill: currentColor;
}

.logo {
  margin-right: 93px;
  color: #212121;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.logo__accent {
  color: #2196f3;
}

.hero {
  min-height: 600px;
  max-width: 1600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #c4c4c4;
  text-align: center;
}

.hero__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero__heading {
  width: 696px;
  margin-bottom: 30px;
  color: #fff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}

.primary-button {
  height: 50px;
  width: 216px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: #188ce8;
  color: #fff;
  font-family: inherit;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms var(--timing-function);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
}
.primary-button:hover, .primary-button:focus {
  background-color: #2196f3;
  cursor: pointer;
}

.advantages {
  padding-bottom: 0;
}

.advantages__list {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.advantages__item {
  flex-basis: calc((100% - 90px) / 4);
}

.advantages__icon-wrap {
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
  text-align: center;
}

.advantages__subtitle {
  margin-bottom: 10px;
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
}

.advantages__text {
  line-height: 1.7;
}

.works__list {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.works__item {
  position: relative;
  flex-grow: 1;
}

.works__label-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.works__label {
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}

.team {
  background-color: #f5f4fa;
}

.team__list {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.team__item {
  flex-basis: calc((100% - 90px) / 4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__wrap-info {
  padding: 30px 32px;
  background-color: #fff;
  text-align: center;
  border-radius: 0px 0px 4px 4px;
}

.team__member-name {
  margin-bottom: 10px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}

.team__post {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.2;
}

.clients__list {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.clients__link {
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  border-color: #2196f3;
  fill: #2196f3;
}

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.page-footer__container {
  display: flex;
}

.footer-address {
  display: flex;
  flex-direction: column;
  margin-right: 70px;
}

.logo--footer {
  display: inline-block;
  margin-bottom: 20px;
  color: #fff;
}

.footer-address__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-address__item {
  height: 21px;
}

.footer-address__link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  line-height: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-address__link:hover, .footer-address__link:focus {
  color: #2196f3;
}

.footer-address__link--location {
  color: #fff;
}

.footer-join {
  margin-right: 93px;
  margin-top: 12px;
}

.footer-title {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.14;
  color: #fff;
}

.footer-join__link {
  fill: #fff;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-subscription {
  margin-top: 12px;
}

.footer-form {
  width: 570px;
  gap: 12px;
  display: flex;
}

.footer-form__input {
  flex: 1 1 auto;
  padding: 15px 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #fff;
}
.footer-form__input::-moz-placeholder {
  font-size: 16px;
}
.footer-form__input:-ms-input-placeholder {
  font-size: 16px;
}
.footer-form__input::placeholder {
  font-size: 16px;
}

.footer-form__button {
  width: 200px;
  margin: 0;
}
.footer-form__button::after {
  content: "";
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-image: url(../images/send-icon.svg);
  background-size: contain;
}

.backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: relative;
  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop--is-hidden .modal {
  transform: scale(1.1);
}

.modal__close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: inherit;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.modal__close-button:hover, .modal__close-button:focus {
  fill: #2196f3;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form__inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.form__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: #212121;
  text-align: center;
}

.form__field {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.form__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.form__input-wrap {
  display: flex;
  flex-direction: column;
}

.form__input {
  padding: 11px 12px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
}
.form__field:focus-within .form__input {
  border: 1px solid #2196f3;
  outline: 0px solid #fff;
}

.form__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
}
.form__field:focus-within .form__icon {
  fill: #2196f3;
}

.form__comment {
  resize: none;
  min-height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
}
.form__comment::-moz-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__comment:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__comment::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__field:focus-within .form__comment {
  border: 1px solid #2196f3;
  outline: 0px solid #fff;
}

.form-policy {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto 30px;
}

.form-policy__input {
  position: absolute;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin-right: 8px;
}

.form-policy__label {
  line-height: 1.7;
  margin-right: 6px;
}

.form-policy__link {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2196f3;
}

.form-policy__icon {
  width: 16px;
  height: 15px;
  background-image: url(../images/uncheck-icon.svg);
  background-size: contain;
  margin-right: 7px;
}
.form-policy__input:checked + .form-policy__icon {
  background-color: #2196f3;
  background-image: url(../images/check-icon.svg);
  border-radius: 2px;
}/*# sourceMappingURL=main.css.map */