.clients {
  @extend %section;
}

.clients__container {
  @extend %container;
}

.clients__list {
  @extend %list;
  display: flex;
  column-gap: 30px;
}
.clients__link {
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include border($social-links-color);
  border-radius: 4px;
  fill: $social-links-color;
  transition: border-color 250ms $timing-function, fill 250ms $timing-function;
  &:hover,
    &:focus {
      border-color: $accent-color;
      fill: $accent-color;
  
}
}