.page-header {
  border-bottom: 1px solid $header-border-color;
}
.page-header__nav {
  @extend %container;
  display: flex;
  align-items: center;
}
.logo--header {
  padding: 24px 0;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-nav__list {
  @extend %list;
  display: flex;
  gap: 50px;
}
.header-nav__link {
  @extend %header-link;
  position: relative;
  display: block;
  padding: 32px 3px;
  color: $title-color;
}
.header-nav__link--current {
  color: accent-color;
  &::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: $accent-color;
    border-radius: 2px;
  }
}
.contacts-list {
  @extend %list;
  display: flex;
  gap: 30px;
  margin-left: auto;
}
.contacts-list__link {
  @extend %header-link;
  display: flex;
  align-items: center;
  padding: 32px 0;
  color: $text-color;
}
.contacts-list__icon {
  margin-right: 10px;
  fill: currentColor;
}
