%list {
  list-style: none;
  padding: 0;
  margin: 0;
}

%section {
  padding: 60px 0;
  
    @media screen and (min-width: 1200px) {
      padding: 94px 0;
  
    }
}

%container {
  padding: 0 15px;
  margin: 0 auto;
  
    @media screen and (min-width: 480px) {
      width: 480px;
    }
  
    @media screen and (min-width: 768px) {
      width: 768px;
    }
  
    @media screen and (min-width: 1200px) {
      width: 1200px;
    }
}

%header-link {
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  transition: color 250ms $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

